<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>controller.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>controller.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/posts.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CandidateServlet</servlet-name>
    <servlet-class>controller.CandidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateServlet</servlet-name>
    <url-pattern>/candidates.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>controller.UploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload.test</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>controller.UploadImage</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>controller.DownloadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download.test</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DownloadImage</servlet-name>
    <servlet-class>controller.DownloadImage</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DownloadImage</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteImage</servlet-name>
    <servlet-class>controller.DeleteImage</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteImage</servlet-name>
    <url-pattern>/deleteImage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteCandidate</servlet-name>
    <servlet-class>controller.DeleteCandidate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteCandidate</servlet-name>
    <url-pattern>/deleteCandidate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>controller.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>filter.AuthFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>controller.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>controller.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/cities.do</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>CORSFilter</filter-name>
    <filter-class>filter.CORSFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CORSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


</web-app>
